/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 15px);
}

.grid-2 {
  width: calc(16.66667% - 15px);
}

.grid-3 {
  width: calc(25% - 15px);
}

.grid-4 {
  width: calc(33.33333% - 15px);
}

.grid-5 {
  width: calc(41.66667% - 15px);
}

.grid-6 {
  width: calc(50% - 15px);
}

.grid-7 {
  width: calc(58.33333% - 15px);
}

.grid-8 {
  width: calc(66.66667% - 15px);
}

.grid-9 {
  width: calc(75% - 15px);
}

.grid-10 {
  width: calc(83.33333% - 15px);
}

.grid-11 {
  width: calc(91.66667% - 15px);
}

.grid-12 {
  width: calc(100% - 15px);
}

.offset-1 {
  margin-left: calc(8.33333% + 7.5px);
}

.offset-2 {
  margin-left: calc(16.66667% + 7.5px);
}

.offset-3 {
  margin-left: calc(25% + 7.5px);
}

.offset-4 {
  margin-left: calc(33.33333% + 7.5px);
}

.offset-5 {
  margin-left: calc(41.66667% + 7.5px);
}

.offset-6 {
  margin-left: calc(50% + 7.5px);
}

.offset-7 {
  margin-left: calc(58.33333% + 7.5px);
}

.offset-8 {
  margin-left: calc(66.66667% + 7.5px);
}

.offset-9 {
  margin-left: calc(75% + 7.5px);
}

.offset-10 {
  margin-left: calc(83.33333% + 7.5px);
}

.offset-11 {
  margin-left: calc(91.66667% + 7.5px);
}

.offset-12 {
  margin-left: calc(100% + 7.5px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 759px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

p {
  color: white;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background: #080A07;
  -webkit-box-shadow: 0px 2px 4px rgba(53, 53, 52, 0.25);
  box-shadow: 0px 2px 4px rgba(53, 53, 52, 0.25);
}

@media screen and (max-width: 841px) {
  header {
    height: 70px;
  }
}

.navega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px;
}

header .logo {
  margin: 1rem 1rem 1rem 0rem;
  font-size: 2rem;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

@media screen and (max-width: 841px) {
  header .logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin: 1rem 0rem 1rem 0rem;
  }
}

@media screen and (max-width: 841px) {
  .menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    position: absolute;
    width: 100%;
    height: calc(100vh - 495px);
    background: #040402;
    top: 70px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-animation: show-down .3s forwards;
    animation: show-down .3s forwards;
  }
}

@media screen and (max-width: 759px) {
  .menu {
    height: 155px;
  }
}

@media screen and (max-width: 841px) {
  .menu.active {
    display: block;
  }
}

@media screen and (max-width: 841px) {
  .menu.procurar-mobile {
    top: 135px;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0px, -30px, 0);
    transform: translate3d(0px, -30px, 0);
  }
  do {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes show {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0px, -30px, 0);
    transform: translate3d(0px, -30px, 0);
  }
  do {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 841px) {
  .menu ul {
    display: block;
    width: 100%;
    margin-left: 12px;
  }
}

@media screen and (max-width: 759px) {
  .menu ul {
    margin-left: 18px;
  }
}

.menu li {
  margin: 0.9rem;
}

@media screen and (max-width: 841px) {
  .menu li {
    border-bottom: 2px solid #959594;
    padding: 0.7rem 0;
    margin: 0;
  }
}

.menu li a {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 841px) {
  .menu li:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 841px) {
  .menu li:first-child {
    border-top: 2px solid #959594;
  }
}

.menu li a[href^=cadastro] {
  background: #FF001E;
  color: #040402;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.menu li a[href^=cadastro]:hover {
  background: #ca071e;
}

.menu a:hover {
  color: #FF001E;
}

.procurar input {
  background: #161817;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  border-radius: 2px;
  padding: 0.6rem 4rem 0.6rem 0.6rem;
  border: none;
  color: #959594;
}

@media screen and (max-width: 841px) {
  .procurar input {
    padding: 0.9rem 4rem 0.9rem  3.3rem;
    width: 100%;
  }
}

.procurar {
  margin-right: 0;
  position: relative;
  display: block;
}

@media screen and (max-width: 841px) {
  .procurar {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: none;
    position: absolute;
    background: #161817;
    top: 70px;
    left: -25px;
    width: 105%;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-animation: show-down .3s forwards;
    animation: show-down .3s forwards;
    font-family: "Roboto", sans-serif;
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 841px) {
  .procurar.active {
    display: block;
  }
}

@media screen and (max-width: 841px) {
  .input-field {
    width: 103%;
  }
}

.procurar-mobile {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #959594;
  font-size: 20px;
}

@media screen and (max-width: 841px) {
  .procurar-mobile {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: block;
    padding: 0;
  }
}

.procurar button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0.55rem;
  bottom: 0.8rem;
}

@media screen and (max-width: 841px) {
  .procurar button {
    top: 0.8rem;
    left: 91%;
  }
}

.procurar button i {
  color: #959594;
  font-size: 14px;
}

@media screen and (max-width: 841px) {
  .procurar button i {
    font-size: 18px;
  }
}

.menu-mobile {
  display: none;
  color: #959594;
  font-size: 30px;
  cursor: pointer;
  background: transparent;
  border: none;
}

@media screen and (max-width: 841px) {
  .menu-mobile {
    display: block;
    padding: 0;
  }
}

.menu-mobile i:first-child.active {
  display: none;
}

.menu-mobile i:last-child.active {
  display: block;
}

.intro {
  background: url("../img/intro.jpg") no-repeat center;
  background-size: cover;
  height: 70%;
  margin-top: 6%;
}

@media screen and (max-width: 494px) {
  .intro {
    background-image: url("/img/img-intro-mobile.jpg");
  }
}

@media screen and (min-width: 495px) and (max-width: 759px) {
  .intro {
    background-image: url("/img/img-intro-mobile.jpg");
  }
}

.intro-call {
  width: 60%;
  height: 250px;
  text-align: left;
  margin-top: 5%;
  margin-right: 15px;
  margin-left: 15px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .intro-call {
    width: 70%;
    margin-top: 10%;
  }
}

.intro-call h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.125em;
  line-height: 1.1em;
  color: white;
}

.intro-call p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.intro-call a {
  background: #FF001E;
  color: #040402;
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  font-size: "Roboto", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 494px) {
  .intro-call {
    width: 90%;
    margin-top: 25%;
  }
  .intro-call h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 495px) and (max-width: 759px) {
  .intro-call {
    width: 90%;
    margin-top: 20%;
  }
  .intro-call h1 {
    font-size: 2.1rem;
  }
}

.intro-call a:hover {
  background: #ca071e;
}

.mais-ouvidos {
  margin-top: 2.8rem;
  margin-bottom: 1.8rem;
  text-align: center;
}

.mais-ouvidos h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: medium;
  margin-bottom: 3.8rem;
}

@media screen and (max-width: 759px) {
  .mais-ouvidos h2 {
    font-size: 1.9em;
  }
}

.mais-ouvidos h2 span {
  color: #FF001E;
}

.mais-ouvidos-audios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 15px;
  margin-bottom: 1.9rem;
}

@media screen and (max-width: 494px) {
  .mais-ouvidos-audios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 495px) and (max-width: 759px) {
  .mais-ouvidos-audios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.mais-ouvidos-audios .audios {
  max-width: 20%;
  margin-right: 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 494px) {
  .mais-ouvidos-audios .audios {
    max-width: 76%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (min-width: 495px) and (max-width: 759px) {
  .mais-ouvidos-audios .audios {
    max-width: 60%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.mais-ouvidos-audios .audios .descricao {
  background: #161817;
  padding: 0.8rem 0;
}

.mais-ouvidos-audios .audios .descricao h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: white;
  margin-bottom: 0.5rem;
}

.mais-ouvidos-audios .audios .descricao h3::after {
  content: '';
  display: block;
  background: white;
  height: 2px;
  width: 20px;
  margin: 5px auto;
}

.mais-ouvidos-audios .audios .descricao span {
  color: #FF001E;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
}

.mais-ouvidos-audios .audios:last-child {
  margin-right: 0;
}

.hover-play {
  position: relative;
}

.hover-play:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: transparent;
}

.teste {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  background: #FF001E;
  color: #040402;
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  font-size: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: #ca071e;
}

.secao-site-descricao {
  background: #040402;
  padding-top: 2.8rem;
  padding-bottom: 3.5rem;
}

.secao-site-descricao h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: medium;
  margin-bottom: 3.8rem;
  text-align: center;
}

@media screen and (max-width: 759px) {
  .secao-site-descricao h2 {
    font-size: 1.9em;
  }
}

.secao-site-descricao h2 span {
  color: #FF001E;
}

.alinhamento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 759px) {
  .alinhamento {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 15px;
  }
}

.alinhamento .img-secao {
  max-width: 33%;
  margin-left: 7rem;
}

@media screen and (max-width: 759px) {
  .alinhamento .img-secao {
    margin: 0;
    max-width: 60%;
  }
}

.alinhamento .img-secao img {
  border-radius: 2px;
}

.alinhamento .descricao-secao {
  max-width: 39%;
  margin-right: 3rem;
}

@media screen and (max-width: 759px) {
  .alinhamento .descricao-secao {
    margin: 0;
    max-width: 60%;
  }
}

.alinhamento .descricao-secao p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
}

@media screen and (max-width: 759px) {
  .alinhamento .descricao-secao p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.5625em;
  }
}

.separador {
  border-width: 2px;
  border-color: #161817;
  height: 395px;
  margin-top: 0;
  border-style: solid;
}

@media screen and (max-width: 759px) {
  .separador {
    height: 0;
    width: 60%;
    margin: 20px 0;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .separador {
    height: 250px;
  }
}

footer {
  background: #161817;
  padding: 1.5rem 0;
  text-align: center;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
}

.logo a {
  cursor: pointer;
  margin: 1rem 1rem 1rem 0rem;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: white;
}

.menu .ativo {
  color: #FF001E;
  font-weight: 600;
}

.menu button .span-procurar {
  bottom: 31px;
  right: 77px;
}

.intro-contos {
  background: url("/../img/intro-conto.jpg") no-repeat center;
  background-size: cover;
  height: 70%;
  margin-top: 6%;
}

@media screen and (max-width: 759px) {
  .intro-contos {
    background-image: url("/img/intro-conto-mobile.jpg");
  }
}

.intro-contos h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3.125em;
  line-height: 1.1em;
  color: white;
  margin-top: 8rem;
}

.contos-section .envolve-conto {
  padding-top: 3rem;
  margin: 0 10px;
}

.contos-section .envolve-conto h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.375em;
  color: white;
  text-align: center;
}

.contos-section .envolve-conto h2::after {
  content: '';
  display: block;
  background: white;
  width: 2rem;
  height: 2px;
  margin: 2px auto;
}

.contos-section .envolve-conto ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
}

.envolve-conto .imgs-conto {
  max-width: 180px;
}

.conto-descricao {
  background: #161817;
  max-width: 180px;
}

.conto-descricao h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.conto-descricao p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #FF001E;
  text-align: center;
}

.conto-descricao hr {
  border-color: #080A07;
  margin: 5px 0;
}

.curtir {
  border: none;
  background: none;
  color: #FF001E;
  font-size: 18px;
  cursor: pointer;
}

.play {
  border: none;
  background: none;
  color: #FF001E;
  font-size: 17px;
  cursor: pointer;
  margin-left: 7.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.mais-ouvidos-contos {
  background: #040402;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.mais-ouvidos-contos h2 {
  padding: 2rem 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: medium;
  text-align: center;
}

@media screen and (max-width: 759px) {
  .mais-ouvidos-contos h2 {
    font-size: 1.9em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.mais-ouvidos-contos h2 span {
  color: #FF001E;
}

.flex-mais-ouvidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 759px) {
  .flex-mais-ouvidos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.flex-mais-ouvidos .mais-ouvido-img {
  max-width: 33%;
  border-radius: 2px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .flex-mais-ouvidos .mais-ouvido-img {
    max-width: 50%;
  }
}

@media screen and (max-width: 759px) {
  .flex-mais-ouvidos .mais-ouvido-img {
    max-width: 260px;
    margin: 0 auto;
  }
}

.flex-mais-ouvidos hr {
  margin: 0 3rem;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .flex-mais-ouvidos hr {
    height: 380px;
  }
}

@media screen and (max-width: 759px) {
  .flex-mais-ouvidos hr {
    margin: 20px auto;
    width: 260px;
  }
}

.mais-ouvido-lista {
  width: 405px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .mais-ouvido-lista {
    width: 240px;
  }
}

@media screen and (max-width: 759px) {
  .mais-ouvido-lista {
    width: 250px;
    margin: 0 auto;
  }
}

.mais-ouvido-lista li {
  margin-bottom: 2rem;
}

@media screen and (max-width: 759px) {
  .mais-ouvido-lista li {
    margin-bottom: 1rem;
  }
}

.mais-ouvido-lista li:last-child {
  margin-bottom: 0;
}

.mais-ouvido-lista .posicao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mais-ouvido-lista .mais-ouvidos-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 10px;
}

.mais-ouvido-lista .mais-ouvidos-titulo-e-minutos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mais-ouvido-lista .mais-ouvidos-titulo-e-minutos p {
  margin-right: 10px;
}

.mais-ouvido-lista .img-lista {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.mais-ouvido-lista .autor-mais-ouvidos {
  color: #FF001E;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
}

.mais-ouvido-lista .minutos {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #959594;
}

.mais-ouvido-lista .curtidas {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #FF001E;
}

.mais-ouvido-lista .curtidas i {
  margin-right: 5px;
}

.perfil {
  margin: 0.5rem 0.9rem !important;
  cursor: pointer;
}

@media screen and (max-width: 841px) {
  .perfil {
    margin: 0.5rem 0rem !important;
  }
}

@media screen and (max-width: 759px) {
  .perfil:last-child {
    border-bottom: none;
    padding: 0 !important;
    margin: 0.5rem 0rem !important;
  }
}

.menu .perfil a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu .perfil-img {
  height: 35px;
  width: 35px;
  margin-right: 12px;
}

.menu .perfil-img img {
  border-radius: 50%;
}

.perfil span {
  margin-right: 12px;
}

.intro-perfil {
  background-color: #8E8989;
  height: 70%;
  margin-top: 6%;
  position: relative;
}

.intro-perfil:hover .perfil-imagem {
  opacity: 1;
}

.perfil-imagem {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: transparent;
}

.mudar-capa {
  background: #080A07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  padding: 0.7rem;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

@media screen and (max-width: 759px) {
  .mudar-capa {
    top: 40%;
  }
}

.mudar-capa i {
  margin-right: 10px;
  font-size: 23px;
}

.mudar-capa span {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
}

.justify-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 759px) {
  .justify-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 15px;
  }
}

.info-perfil {
  position: relative;
  top: -150px;
}

@media screen and (max-width: 759px) {
  .info-perfil {
    width: 100%;
  }
}

.info-perfil h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.375em;
  color: white;
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .info-perfil {
    width: calc(33.33333% - 15px);
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .favoritos {
    width: calc(66.66667% - 15px);
  }
}

@media screen and (max-width: 759px) {
  .favoritos {
    width: 100%;
    margin-top: -150px;
  }
}

.btn-perfil {
  background: #FF001E;
  color: #040402;
  border-radius: 2px;
  padding: 0.365rem 0.995rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  font-size: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  margin: 15px auto;
  text-align: center;
  display: block;
}

.img-perfil:hover .mudar-perfil {
  opacity: 1;
}

.img-perfil {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: #201D1D;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .img-perfil {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 759px) {
  .img-perfil {
    margin: 0 auto;
    width: 250px;
    height: 250px;
  }
}

.img-perfil img {
  margin: 3rem auto;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .img-perfil img {
    margin: 2rem auto;
  }
}

@media screen and (max-width: 759px) {
  .img-perfil img {
    margin: 2rem auto;
  }
}

.mudar-perfil {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: transparent;
}

.perfil-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  padding: 0.7rem;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #080A07;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.perfil-content i {
  margin-right: 10px;
  font-size: 23px;
}

.perfil-content span {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
}

.sobre-perfil {
  background: #161817;
  max-width: 280px;
  text-align: center;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .sobre-perfil {
    max-width: 250px;
  }
}

@media screen and (max-width: 759px) {
  .sobre-perfil {
    margin: 0 auto;
  }
}

.sobre-perfil h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 15px 0;
}

.sobre-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sobre-info p {
  color: #959594;
  max-width: 230px;
  padding: 0px 0 20px 0;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .sobre-info p {
    max-width: 200px;
  }
}

.sobre-info a {
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: white;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .sobre-info a {
    margin-left: 10px;
  }
}

.sobre-info a i {
  font-size: 14px;
}

.favorito-titulo {
  background: #161817;
  width: 100%;
  margin-top: 1rem;
  border-radius: 2px;
}

.favorito-titulo h2 {
  color: #FF001E;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 14px 0;
  text-align: center;
}

.favorito-content {
  margin: 1rem auto;
  max-width: 500px;
}

@media screen and (max-width: 759px) {
  .favorito-content {
    max-width: 350px;
  }
}

.favorito-content hr {
  width: 470px;
  border-color: #161817;
  margin-bottom: 15px;
  border-width: 2px;
}

@media screen and (max-width: 759px) {
  .favorito-content hr {
    width: 325px;
  }
}

.favorito-itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 1rem 0;
  background: #161817;
  border-bottom: 2px solid #161817;
  border-radius: 2px;
}

@media screen and (max-width: 759px) {
  .favorito-itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.favorito-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.favoritos-titulos h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: white;
  font-weight: 600;
}

.favoritos-titulos span {
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #FF001E;
  font-style: italic;
}

.favorito-time {
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #959594;
}

.favorito-descricao-audio p {
  max-width: 420px;
}

@media screen and (max-width: 759px) {
  .favorito-descricao-audio {
    width: 90%;
    margin: 0 auto;
  }
}

.favorito-img {
  margin-right: 15px;
}

@media screen and (max-width: 759px) {
  .favorito-img {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.favorito-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.7rem;
  color: #FF001E;
}

.favorito-footer span {
  color: #959594;
}

.favorito-footer a {
  color: #FF001E;
}

.navega-cadastro {
  text-align: center;
}

.cadastro {
  margin: 7rem 0;
}

.cadastro h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.375em;
  font-weight: 600;
  letter-spacing: 1px;
}

.cadastro h1 span {
  color: #FF001E;
}

.cadastro-content {
  margin-top: 2.5rem;
}

.cadastro-content button {
  margin: 0 auto 3.1rem auto;
  display: block;
  color: #040402;
}

.cadastro-content .h2-cadastro {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  letter-spacing: 1px;
}

.cadastro-content .h2-cadastro a {
  color: #FF001E;
}

.cadastro-content .cadastro-icone {
  width: 9%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.cadastro-content .cadastro-input {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2.8rem;
}

.cadastro-content .cadastro-input input {
  display: block;
  margin-bottom: 20px;
  background: none;
  border: none;
  border-bottom: 2px solid #959594;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
}

.cadastro-content textarea:focus, .cadastro-content input:focus, .cadastro-content select:focus, .cadastro-content button:focus {
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-senha {
  position: relative;
}

.form-senha button {
  background: none;
  border: none;
  color: #959594;
  font-size: 18px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 0px;
}

.enviar-conto-h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
}

.enviar-contos-content {
  margin: 9rem auto 0 auto;
  display: block;
  max-width: 600px;
}

.enviar-contos-content h2 {
  color: #E4112A;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  line-height: 1.15385em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.enviar-contos-content hr {
  border-color: #161817;
  border-width: 2px;
  margin: 20px auto;
}

.enviar-contos-img {
  height: 330px;
  width: 330px;
  background: #201D1D;
  border: 2px;
  position: relative;
  margin: 0 auto;
}

.enviar-contos-img a {
  background: #080A07;
  width: 280px;
  padding: 0.9rem;
  color: white;
  text-align: center;
  position: absolute;
  top: 43%;
  left: 7%;
  border: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.enviar-contos-img a i {
  font-size: 23px;
}

.enviar-contos-img a:hover {
  color: #959594;
}

.enviar-contos-inputs {
  margin-right: -10px;
  margin-left: -10px;
}

.container-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-grup {
  margin-bottom: 1rem;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.form-grup label {
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: white;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.form-grup input {
  display: block;
  background: #201D1D;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 0.475rem 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #959594;
}

.form-grup select {
  display: block;
  background: #201D1D;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 0.475rem 0.65rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #959594;
}

.form-grup textarea {
  display: block;
  background: #201D1D;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #959594;
  height: 250px;
  padding: 0.475rem 0.65rem;
}

.botoes {
  margin: 30px 0px 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 200px;
}

.btn-enviar-conto {
  background: none;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  margin-right: 1rem;
  cursor: pointer;
}

.chips-autocomplete {
  border: none;
}

.audio-info-content {
  padding-top: 8.1rem;
}

.audio-info-content .audio-info-img {
  width: 350px;
  margin: 0 auto;
}

.audio-info-content hr {
  border-width: 3px;
  border-color: #161817;
}

.audio-info-titulo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  color: white;
  font-weight: 500;
}

.audio-info-titulo h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #FF001E;
}

.audio-info-titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
  max-width: 905px;
  margin: 0 auto;
}

.audio-info-titulos span {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  color: white;
}

.audio-info-player {
  padding: 30px 0;
  margin: 0 auto;
  max-width: 905px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.play-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.play-btn i {
  color: #FF001E;
  font-size: 20px;
}

.player-minutos-1 span {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  line-height: 1.15385em;
  color: #959594;
  margin: 0 10px 0 15px;
}

.player-lines {
  width: 72%;
  cursor: pointer;
}

.rangeouter {
  height: 0.2em;
}

.player-minutos-2 span {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  line-height: 1.15385em;
  color: #959594;
  margin: 0 15px 0 10px;
}

.player-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player-volume button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.player-volume button i {
  color: #FF001E;
  font-size: 24px;
}

.volume-lines {
  display: none;
}

.volume-lines .volume-linha-1 {
  width: 100%;
  background: #161817;
  height: 4px;
  position: relative;
  cursor: pointer;
}

.volume-lines .volume-linha-1:hover .volume-linha-3 {
  height: 10px;
  width: 10px;
  background: #FF001E;
  border-radius: 50%;
  right: -7px;
  top: -3px;
  position: absolute;
  display: block;
  -webkit-transition: ease-in 6s;
  transition: ease-in 6s;
}

.volume-lines .volume-linha-2 {
  width: 50%;
  background: #FF001E;
  height: 4px;
  position: absolute;
}

.volume-linha-3 {
  display: none;
}

.audio-info-enviado {
  margin: 0 auto 30px auto;
  max-width: 905px;
}

.audio-info-enviado h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #959594;
  font-weight: 600;
  margin-bottom: 15px;
}

.perfil-img {
  width: 30px;
  height: 30px;
}

.perfil-img img {
  border-radius: 50%;
}

.perfil-enviado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 180px;
}

.perfil-enviado a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.perfil-enviado span {
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: white;
  margin: 0 10px;
}

.btn-audio-info {
  background: #FF001E;
  color: #040402;
  border-radius: 2px;
  padding: 0.25rem 0.59rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  line-height: 1.15385em;
  font-size: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  text-align: center;
  display: block;
}

.letra {
  margin: 30px auto;
  max-width: 905px;
}

.letra h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  font-weight: 600;
  color: #959594;
  margin-bottom: 15px;
}

.letra p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #DBD6D6;
  margin-bottom: 20px;
  max-width: 905px;
}

.comentario-quantidade {
  margin: 20px auto;
  max-width: 905px;
  color: #959594;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
}

.comentario-quantidade i {
  font-size: 24px;
}

.comentario-quantidade span {
  margin: 0 0px 0 5px;
  font-weight: 600;
}

.deixar-comentario {
  margin: 20px auto 35px auto;
  max-width: 905px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.deixar-comentario input {
  display: block;
  background: #201D1D;
  width: 85%;
  border: none;
  border-radius: 2px;
  padding: 0.475rem 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
  color: #959594;
}

.deixar-comentario div {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.deixar-comentario button {
  margin-left: 10px;
}

.comentairo-content {
  margin: 0px auto 35px auto;
  max-width: 905px;
}

.comentario-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.comentario-item .perfil-img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.comentario-item button {
  background: none;
  border: none;
  color: #959594;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  line-height: 1.15385em;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
}

.comentario-item-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.comentario-item-titulo h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #FF001E;
  margin-right: 5px;
}

.comentario-item-titulo span {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  line-height: 1.15385em;
  color: #959594;
}

.navega-login {
  text-align: center;
}

.login {
  margin: 7rem 0;
}

.login h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.375em;
  font-weight: 600;
  letter-spacing: 1px;
}

.login h1 span {
  color: #FF001E;
}

.login-content {
  margin: 0 auto;
  margin-top: 2.5rem;
  max-width: 500px;
}

.login-content button {
  margin: 0 auto 1.9rem auto;
  display: block;
  color: #040402;
}

.login-content .h2-cadastro {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  letter-spacing: 1px;
}

.login-content .h2-cadastro a {
  color: #FF001E;
  font-weight: normal;
}

.login-content hr {
  border-color: #959594;
  border-width: 1px;
  margin-bottom: 1.5rem;
}

.login-content a {
  text-align: center;
  display: block;
  color: #959594;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.login-icone {
  width: 9%;
  margin: 2.5rem auto;
}

.login-input {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2.8rem;
}

.login-input input {
  display: block;
  margin-bottom: 20px;
  background: none;
  border: none;
  border-bottom: 2px solid #959594;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
}

.form-senha {
  position: relative;
}

.form-senha button {
  background: none;
  border: none;
  color: #959594;
  font-size: 18px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 0px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.64286em;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 2px;
}

a {
  text-decoration: none;
}

body {
  background: #080A07;
  height: 500px;
}

textarea:focus, input:focus, select:focus, button:focus {
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
