//Audio Info

.audio-info-content{
  padding-top: 7rem;
  .audio-info-img{
    width: 350px;
    margin: 0 auto;
    @include d(s){
     width: 300px;
    }
  }
  hr{
    border-width: 3px;
    border-color: $cinza-2;
  }
}
.row-audio-info{
  margin: 0 15px;
}
.audio-info-titulo{
  h1{
    @include tipo-1(20);
    color: white;
    font-weight: 500;
  }
  h2{
    @include tipo-1(16);
    color: $vermelho;
  }
}
.audio-info-titulos {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  max-width: 905px;
  margin: 0 auto;
  span{
    @include tipo-1(20);
    color: white;
  }
}

.audio-info-player{
  padding: 30px 0;
  margin: 0 auto;
  max-width: 905px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play-btn{
   background: none;
   border:none;
   cursor: pointer;
  i{
    color: $vermelho;
    font-size: 20px;
  }
}
.player-minutos-1 span{
  @include tipo-1(13);
  color: $cinza-1;
  margin: 0 15px;
}
.player-lines{
  width: 80%;
  cursor: pointer;
} 
.rangeouter{
  height: 0.2em;
}
.player-minutos-2 span{
  @include tipo-1(13);
  color: $cinza-1;
  margin: 0 15px;
}
.player-volume{
  display: flex;
  width: 3%;
  align-items: center;
  @include d(s){
    width: 7%;
  }
  button{
   background: none;
   border:none;
   cursor: pointer;
   margin-right: 10px;
  i{
    color: $vermelho;
    font-size: 24px;
   }
  }
}

.volume-lines{
   display: none;
}
.volume-linha-3{
  display: none; 
}


.audio-info-enviado{
  margin: 0 auto 30px auto;
  max-width: 905px;
  h3{
    @include tipo-1(16);
    color: $cinza-1;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
.perfil-img{
  width: 30px;
  height: 30px;
  img{
    border-radius: 50%;
  }
}
.perfil-enviado{
  display: flex;
  align-items: center;
  max-width: 180px;
  a{
    display: flex;
    align-items: center;
  }
  span{
    @include tipo-1(14);
    color: white;
    margin: 0 10px;
  }
}
.btn-audio-info{
  background: $vermelho;
  color:$preto-2; 
  border-radius: 2px;
  padding: 0.25rem 0.59rem;
  font-weight: bold;
  @include tipo-1(13);
  font-size: $fonte-1;
  cursor: pointer;
  border: none;
  text-align: center;
  display: block;
}


.letra{
  margin: 30px auto;
  max-width: 905px;
  h4{
    @include tipo-1(16);
    font-weight:600;
    color: $cinza-1;
    margin-bottom: 15px;
  }
  p{
    @include tipo-1(16);
    color: #DBD6D6;
    margin-bottom: 20px;
    max-width: 905px;
  }
}

.comentario-quantidade{
  margin: 20px auto;
  max-width: 905px;
  color: $cinza-1;
  @include tipo-1(16);
 
  i{
    font-size: 24px;
  }
  span{
    margin: 0 0px 0 5px;
    font-weight: 600;
  }
}

.deixar-comentario{
  margin: 20px auto 35px auto;
  max-width: 905px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  input{
    display: block;
    background: #201D1D;
    width: 85%;
    border: none;
    border-radius: 2px;
    padding: 0.475rem 0.75rem;
    @include tipo-1(14);
    color: $cinza-1;
  }
  div{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    @include d(s){
      width: 50px;
      height: 36px; 
    }
  }
  button{
    margin-left: 10px;
  }
}

.comentairo-content{
  margin: 0px auto 35px auto;
  max-width: 905px;
}

.comentario-item{
  display: flex;
  margin-bottom: 20px;
  .perfil-img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  button{
  background: none;
  border: none;
  color: $cinza-1;
  @include tipo-1(13);
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
  }
}

.comentario-item-titulo{
 display: flex;
 align-items: center;
 margin-bottom: 5px;
 h5{
  @include tipo-1(16);
  color:$vermelho;
  margin-right: 5px;
 }
 span{
  @include tipo-1(13);
    color: $cinza-1;
 }
}