.navega-cadastro{
  text-align: center;
}
.cadastro{
  margin: 7rem 0;
  h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    @include tipo-1(24);
    font-weight: 600;
    letter-spacing: 1px;
    span{
     color: $vermelho;
    }
  }
}
.cadastro-content{
  margin-top: 2.5rem;
  button{
    margin: 0 auto 3.1rem auto;
    display: block;
    color: $preto-2;
  }
  .h2-cadastro{
    text-align: center;
    color: white;
    @include tipo-1(16);
    letter-spacing: 1px;
    a{
     color: $vermelho;
  }
}
.cadastro-icone{
  width: 9%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.cadastro-input{
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2.8rem;  
 input{
   display: block;
   margin-bottom: 20px;
   background: none;
   border: none;
   border-bottom: 2px solid $cinza-1;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   color: white;
   @include tipo-1(16);
 }
}
textarea:focus,input:focus,select:focus,button:focus {
border-color: none !important;
outline: 0;
-webkit-box-shadow: none !important;
box-shadow: none !important;
 }
}

.form-senha{
  position: relative;
  button{
    background: none;
    border: none;
    color: $cinza-1;
    font-size: 18px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 0px;
  }
}
