// Contos
.logo a{
  cursor: pointer;
  margin: 1rem 1rem 1rem 0rem;
  @include tipo-1(16);
  color: white; 
}
.menu .ativo{
  color: $vermelho;
  font-weight: 600;
}
.menu button{
.span-procurar{
  bottom: 31px;
  right: 77px; 
}   
}
.intro-contos{
  background: url("/../img/intro-conto.jpg") no-repeat center;
  background-size: cover; 
  height: 70%;
  margin-top: 6%;
  @media screen and (max-width: 759px) {
    background-image: url("/img/intro-conto-mobile.jpg");
  }
  h1{
    text-align: center;
      @include tipo-2(50);
      color: white;
      margin-top: 8rem;
  }   
}

//contos section
.contos-section{
  .envolve-conto{
    padding-top: 3rem;
    margin: 0 15px;
    h2{
      @include tipo-1(24);
      color: white;
      text-align: center;
      &::after{
        content: '';
        display:block;
        background: white;
        width: 2rem;
        height: 2px;
        margin: 2px auto;
      }
    }
    ul{
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }
}


.envolve-conto .imgs-conto{
  max-width: 180px;
}
.conto-descricao{
  background: $cinza-2;
  max-width: 180px;  
  h3{
    @include tipo-1(16);
    color: white;
    text-align: center;
    padding-top: 5px;
  }

  p{
    @include tipo-1(14);
    color: $vermelho;
    text-align: center;
  }

  hr{
    border-color: $preto;
    margin: 5px 0;
  }
}

.curtir{
  border: none;
  background: none;
  color: $vermelho;
  font-size: 18px;
  cursor: pointer;
}
.play{
  border: none;
  background: none;
  color: $vermelho;
  font-size: 17px;
  cursor: pointer; 
  margin-left:7.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

//mais ouvidos
.mais-ouvidos-contos{
  background: $preto-2;
  margin-top: 3rem;
  padding-bottom: 3rem;
  h2{
    padding: 2rem 0;
    color: white;
    @include tipo-2(36);
    font-weight: medium;
    text-align: center;
    @media screen and (max-width: 759px) {
      font-size: 1.9em;
      padding-left: 10px;
      padding-right: 10px; 
    }
    span{
      color: $vermelho;
    }
  }
}

.flex-mais-ouvidos{
  display: flex;
  justify-content: center;
  @media screen and (max-width: 759px) {
    flex-direction: column;
  }
  .mais-ouvido-img{
    max-width: 33%;
    border-radius: 2px;
    @media screen and (min-width: 760px) and (max-width: 1199px) {
    max-width: 50%;
    }
    @media screen and (max-width: 759px) {
      max-width: 260px;
      margin: 0 auto;
    }
  }
  hr{
    margin: 0 3rem;
    @media screen and (min-width: 760px) and (max-width: 1199px) {
      height: 380px;
    }
    @media screen and (max-width: 759px) {
      margin: 20px auto;
      width: 260px;
    }
  } 
}
.mais-ouvido-lista{
  width: 405px;
  @media screen and (min-width: 760px) and (max-width: 1199px) {
    width: 240px;
  }
  @media screen and (max-width: 759px) {
    width: 250px;
    margin: 0 auto;
  }
  li{
    margin-bottom: 2rem;
    @media screen and (max-width: 759px) {
    margin-bottom: 1rem;
    }
  }
  li:last-child{
    margin-bottom: 0;
  }
  .posicao{
    display: flex;
    color: white;
    align-items: center;
  }
  .mais-ouvidos-info{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
  .mais-ouvidos-titulo-e-minutos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin-right: 10px;
    }
  }
  .img-lista{
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

  .autor-mais-ouvidos{
    color: $vermelho;
    @include tipo-1(14);
    
  }
  .minutos{
    @include tipo-1(16);
    color: $cinza-1;
   
  }
  .curtidas{
    @include tipo-1(16);
    color: $vermelho;
  
    i{
      margin-right: 5px;
    }
  }
}
