//Variaveis do grid
$colu:12;
$gutter:15px;
$l-device:1199px;
$m-device:760px;
$s-device:759px;
//Box-sizing
*, *::after,*::before{
    box-sizing: border-box;
}
//Mixin de media-queries
@mixin d($size){
    @if $size == l{
        @media screen and (min-width: #{$l-device}){
            @content;
        }
    }@else if $size == m{
        @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device}){
            @content;
        }
    }@else if $size == s{
      @media screen and  (max-width:$s-device){
        @content;
       }
     }
}


//função do grid
@function grid($col,$offset:false){
    $width: $col / $colu * 100 + '%';
    $result: calc(#{$width} - #{$gutter});
    @if $offset == offset {
      $gutter: $gutter / 2;
      $result: calc(#{$width} + #{$gutter});    
    }
    @return $result;
}

//gerador de classes do grid
@for $i from 1 through $colu {
    .grid-#{$i}{
       width: grid($i);
    } 
}
//Mixin estrutura do grid
//@mixin n1 {
//    float: left;
//    min-height: 1px;
//    margin-left:$gutter/2;
//    margin-right:$gutter/2;
//    @include d(s){
//        width: 100%;
//        float: none;
//        margin-left:0;
//        margin-right:0;
//    }
//}
//
//[class^="grid-"]{
//  @include n1;    
//}

//gera asclasses do offset
@for $i from 1 through $colu {
    .offset-#{$i}{
       margin-left: grid($i,offset);
       @extend %offset;    
    } 
}

@include d(s){
    %offset {
        margin-left: 0;
    }
}

//Mixin clearfix
@mixin clearfix{
    &::after,&::before{
        content: '';
        display: table;
        clear: both;
    }
}
@mixin container{
    max-width: 1200px;
    margin: 0 auto;
    @include d(m){
      max-width: 900px;    
    }
    @include d(s){
      max-width: $s-device;  
      padding-left: 10px;
      padding-right: 10px;    
    }
    @include clearfix;
}

.container{
    @include container;
}

@mixin row{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    @include d(s){
        margin-left: 0px;
        margin-right: 0px;
    }
}

.row{
  @include row;
}










