@import 'reset';
@import 'grid';
@import 'variaveis-e-mixins';
@import 'home';
@import 'contos';
@import 'perfil';
@import 'cadastro';


p{
  @include tipo-1(14);    
}
img{
    display: block;
    max-width: 100%;
    border-radius: 2px;
}
a{
  text-decoration: none;
}
body{
    background: $preto; 
    height: 500px;
}